#app {
    max-width: 1200px;
    margin: 0 auto;  /* Largura máxima de 1200px e margin 0, pois se a tela do usuário for muito grande, vai ficar
    tudo centralizado */
    padding: 60px 30px; 

    display: flex;
    flex-direction: row; /* Row pois eu quero que tudo da minha aplicação fique uma do lado da outra */
    align-items: flex-start; /* Pois quero que meus items fiquem alinhados ao topo */
}

#app main {
    margin-left: 30px;  /* Separando o main do sidebar */
}

/* Responsividade */
@media (max-width: 1030px) { /* Quando a tela atingir a largura de 1030px... */ 
    #app {
        flex-direction: column;
    }

    #app main {
        margin-left: 0;
        margin-top: 30px;
    }

    #app aside {
        width: 100%;
    }
}